/* text css above hero image*/
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

.hero-title {
  font-size: 3rem;
}

.hero-subtitle {
  font-size: 2rem;
}

.hero-text {
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.social-icons a {
  padding: 5px;
  /* Adjust padding as needed */
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-envelope:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-twitch:hover {
  color: #008000;
}

.fab {
  color: #000000;
  padding: auto;
}

.fa {
  color: #000000;
  padding: auto;
}

/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}

/* Set height of each section to the height of the viewport */
section {
  height: 100vh;
  width: 100vw;
}

#job-history {
  position: relative;
  text-align: center;
  text-wrap: wrap;
  padding: 20px;
  border-spacing: 10px;
  border-collapse: separate;
}

#job-history th {
  padding: 10px;
  border: 1px solid black;
}

#job-history td {
  padding: 10px;
  border: 1px solid black;
}
